body{
  position: relative;
  font-family: poppins;
}
#mypic{
  width: 250px;
  border-radius: 50%
}
footer{
  color: #444;
  font-weight: 200;
}
#homebody{
  text-align: center;
  font-size: 20px;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  padding-bottom: 7px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
a{
  color: #999;
}
main{
  margin-top: 50px;
}
#viewlink{
  color: #000;
  text-decoration: none;
  border: solid 0.1px #999;
  background-color: #eee;
  padding: 5px;
}
#intro{
  font-weight: 300;
  font-size: 20px;
}

